@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: lobster;
}
.head{
    background-color: transparent;
}
.logo{
    height: 190px;
    width: 210px;
    margin-left: 30px;
}
ul li{
    background-color: transparent;
    height: 35px;
    width: 120px;
    line-height: 35px;
    float: right;
    display: block;
    border: 1px solid transparent;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    }
ul li a{
color: white;
text-decoration: none;
display: block;
color: black;
}
ul li a:hover{
background-color: cyan;
border-radius: 8px;
color: white;
}
ul li ul li{
display: none;
}
ul li:hover ul li{
display: block;
width: 130px;
}
.end{
    background-color: black;
    color: white;
    }
.ring-number button{
    color: white;
    background-color: black;
    height: 70px;
    border: 35px solid black;
    margin-left: 200px;
    }
.none{
    color: black;
    }
.instaface{
    color: white;
    }
.instaface a{
    color: white;
    text-decoration: underline;
    }
.end-line{
    color: thin white;
    width: 85%;
    }
.end-titles-main{
    margin-top: 50px;
    }
.end-titles-main{
    text-align: center;
    }